{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ournameismud\\mudeye\\assetbundles\\mudeye\\MudEyeAsset") %}

{{ forms.textField({
    label: 'Default separator',
    instructions: 'Used to separate words in your page title',
    id: 'seoSeparator',
    class: 'nicetext',
    name: 'seoSeparator',
    size: 'tiny',
    value: settings['seoSeparator'],
    errors: settings.getErrors('seoSeparator'),
    required: false,
}) }}

{{ forms.textareaField({
    label: 'Meta Description',
    id: 'seoDesc',
    class: 'nicetext',
    name: 'seoDesc',
    value: settings['seoDesc'],
    errors: settings.getErrors('seoDesc'),
    rows: 4,
    required: false,
}) }}

{{ forms.textField({
    label: 'Google Analytics/Tag Manager tracking code',
    id: 'trackingCode',
    class: 'nicetext',
    name: 'trackingCode',
    value: settings['trackingCode'],
    errors: settings.getErrors('trackingCode'),
    required: false,
}) }}

{{ forms.checkboxField({
    label: 'Show `Site Name` on homepage?',
    id: 'homeSuffix',
    name: 'homeSuffix',
    value: 1,
    checked: settings['homeSuffix']})
}}

{% if options|length > 1 %}

    {{ forms.selectField({
        label: 'SEO Field',
        id: 'seoField',
        name: 'seoField',
        options: options,
        value: field['seoField'],
        })
    }}

{% elseif options|length %}

    {% for key, value in options %}

        {{ forms.textField({
            label: 'SEO Field',
            id: 'seoField_visible',
            name: 'seoField_visible',
            value: value,
            readonly: true
        }) }}
        <input type="hidden" name="seoField" value="{{ key }}">
{% endfor %}

{% else %}

    <p class="error">You need to add an SEO Field first</p>

{% endif %}